.clear-ul {
    list-style: none;
    margin: 10px 0px;
    padding: 0px 8px;
}

.clear-li {
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .075);
    border: 2px solid #fff;
    position: relative;
}

.clear-li.active,
.clear-li[data-active="true"] {
    box-shadow: none;
    transition: all 0.1s;
    border: 2px solid #8a8a8a;
    border-radius: 3px;
}

.note-title {
    font-size: 19px;
    color: #5f5f5f;
    margin: 0px;
}

.note-text-content {
    margin-top: 5px;
}

.note-text-content .hMyhSt {
    padding: 5px;
    border-radius: 3px;
}

.clear-li .note {
    padding: 7px;
    border-radius: 3px;
}

.plain-text .note-title {
    color: #d00000;
}

.rich .note-title {
    color: #0057b5;
}

.code .note-title {
    color: #3c3c3c;
}

.note-text-content .hMyhSt {
    margin-top: 4px;
}

.code .note-text-content .hMyhSt {
    padding: 12px 12px 0px 16px;
    border: 1px solid #e0e0e0;
    margin-top: 4px;
}

.manage-notes {
    position: absolute;
    right: 0px;
    display: none;
}

.clear-li:hover .manage-notes {
    display: block;
}

.note-text-content .hMyhSt .prettyprint {
    background: #fff !important;
    border: 0 !important;
}

.note-text-content .hMyhSt .pln {
    color: #585858;
}

.note-text-content .hMyhSt ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #333333;
}

.note-text-content .hMyhSt li.L0,
.note-text-content .hMyhSt li.L1,
.note-text-content .hMyhSt li.L2,
.note-text-content .hMyhSt li.L3,
.note-text-content .hMyhSt li.L4,
.note-text-content .hMyhSt li.L5,
.note-text-content .hMyhSt li.L6,
.note-text-content .hMyhSt li.L7,
.note-text-content .hMyhSt li.L8,
.note-text-content .hMyhSt li.L9 {
    padding-left: 1em;
    background-color: #fff;
    list-style-type: decimal;
}

@media screen {
    .note-text-content .hMyhSt {
        /* declaration */
    }
    .note-text-content .hMyhSt .str {
        color: #818f00;
    }
    .note-text-content .hMyhSt .kwd {
        color: #710094;
    }
    .note-text-content .hMyhSt .com {
        color: #969896;
    }
    .note-text-content .hMyhSt .typ {
        color: #024681;
    }
    .note-text-content .hMyhSt .lit {
        color: #994204;
        font-weight: 600
    }
    .note-text-content .hMyhSt .pun {
        color: #333333;
    }
    .note-text-content .hMyhSt .opn {
        color: #333333;
    }
    .note-text-content .hMyhSt .clo {
        color: #333333;
    }
    .note-text-content .hMyhSt .tag {
        color: #8b0000;
    }
    .note-text-content .hMyhSt .atn {
        color: #b44b00;
    }
    .note-text-content .hMyhSt .atv {
        color: #00a390;
    }
    .note-text-content .hMyhSt .dec {
        color: #8f3c00;
    }
    .note-text-content .hMyhSt .var {
        color: #a80000;
    }
    .note-text-content .hMyhSt .fun {
        color: #0063b9;
    }
}